In [1]:
import pandas as pd
import numpy as np

import math

In [3]:
data = pd.read_csv("C:\\Users\\Anand G\\Downloads\\data.csv",sep =',',names=["A","B"])
df=pd.DataFrame(data)
df

            A          B
0   32.502345  31.707006
1   53.426804  68.777596
2   61.530358  62.562382
3   47.475640  71.546632
4   59.813208  87.230925
..        ...        ...
95  50.030174  81.536991
96  49.239765  72.111832
97  50.039576  85.232007
98  48.149859  66.224958
99  25.128485  53.454394

[100 rows x 2 columns]

In [10]:
x = np.array([df.A])
y = np.array([df.B])

m =0 
b = 0
r = 0.01
n = len(x)

for i in range(1000):
    yp = m*x+b
    dm = -(2/n) * x *sum(y-yp)
    db = -(2/n) *sum(y-yp)
    m = m-dm*r
    b = b-db*r

<ipython-input-10-d265e3158a0b>:11: RuntimeWarning: overflow encountered in multiply
  dm = -(2/n) * x *sum(y-yp)
<ipython-input-10-d265e3158a0b>:13: RuntimeWarning: invalid value encountered in subtract
  m = m-dm*r
<ipython-input-10-d265e3158a0b>:12: RuntimeWarning: overflow encountered in multiply
  db = -(2/n) *sum(y-yp)
<ipython-input-10-d265e3158a0b>:14: RuntimeWarning: invalid value encountered in subtract
  b = b-db*r