In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


from sklearn.linear_model import LinearRegression

In [90]:
df_train= pd.read_csv("C:\\Users\\Anand G\\Desktop\\Janani\\DATA SCIENCE\\house-prices-advanced-regression-techniques\\train.csv")
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [91]:
df_test= pd.read_csv("C:\\Users\\Anand G\\Desktop\\Janani\\DATA SCIENCE\\house-prices-advanced-regression-techniques\\test.csv")
df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [23]:
df_train.shape, df_test.shape

((1460, 81), (1459, 80))

In [92]:
df_train.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [93]:
df_train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [94]:
#assigning Y

y = df_train['SalePrice']
df_train=df_train.drop(columns=['SalePrice'],axis =1)

In [95]:
df_train.shape , df_test.shape

((1460, 80), (1459, 80))

In [96]:
# Merging train and test and Assiging X

X = df_train.append(df_test)

In [97]:
X['LotFrontage'] =X['LotFrontage'].fillna(X['LotFrontage'].mean())

In [100]:
X.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
Length: 80, dtype: int64

In [99]:
X['MSZoning'].value_counts()
X['MSZoning'] = X['MSZoning'].fillna(X['MSZoning'].mode()[0])
X['SaleType'] = X['SaleType'].fillna(X['SaleType'].mode()[0])

In [115]:
#numeric & non-numerci

x_cat=X.select_dtypes(exclude = np.number).columns
x_cat
x_dummies = pd.get_dummies(x_cat,drop_first =True)

In [116]:


X = X.drop(columns=x_cat)
X.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1,60,65.0,8450,7,5,2003,2003,196.0,706.0,...,548.0,0,61,0,0,0,0,0,2,2008
1,2,20,80.0,9600,6,8,1976,1976,0.0,978.0,...,460.0,298,0,0,0,0,0,0,5,2007
2,3,60,68.0,11250,7,5,2001,2002,162.0,486.0,...,608.0,0,42,0,0,0,0,0,9,2008
3,4,70,60.0,9550,7,5,1915,1970,0.0,216.0,...,642.0,0,35,272,0,0,0,0,2,2006
4,5,60,84.0,14260,8,5,2000,2000,350.0,655.0,...,836.0,192,84,0,0,0,0,0,12,2008

In [124]:
X.info()
 # BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2919 non-null   int64
 1   MSSubClass     2919 non-null   int64
 2   LotFrontage    2919 non-null   float64
 3   LotArea        2919 non-null   int64
 4   OverallQual    2919 non-null   int64
 5   OverallCond    2919 non-null   int64
 6   YearBuilt      2919 non-null   int64
 7   YearRemodAdd   2919 non-null   int64
 8   MasVnrArea     2919 non-null   float64
 9   BsmtFinSF1     2918 non-null   float64
 10  BsmtFinSF2     2918 non-null   float64
 11  BsmtUnfSF      2918 non-null   float64
 12  TotalBsmtSF    2918 non-null   float64
 13  1stFlrSF       2919 non-null   int64
 14  2ndFlrSF       2919 non-null   int64
 15  LowQualFinSF   2919 non-null   int64
 16  GrLivArea      2919 non-null   int64
 17  BsmtFullBath   2917 non-null   float64
 18  BsmtHalfBath   2917 non-null   float64
 19  FullBath       2919 non-null   int64
 20  HalfBath       2919 non-null   int64
 21  BedroomAbvGr   2919 non-null   int64
 22  KitchenAbvGr   2919 non-null   int64
 23  TotRmsAbvGrd   2919 non-null   int64
 24  Fireplaces     2919 non-null   int64
 25  GarageYrBlt    2760 non-null   float64
 26  GarageCars     2918 non-null   float64
 27  GarageArea     2918 non-null   float64
 28  WoodDeckSF     2919 non-null   int64
 29  OpenPorchSF    2919 non-null   int64
 30  EnclosedPorch  2919 non-null   int64
 31  3SsnPorch      2919 non-null   int64
 32  ScreenPorch    2919 non-null   int64
 33  PoolArea       2919 non-null   int64
 34  MiscVal        2919 non-null   int64
 35  MoSold         2919 non-null   int64
 36  YrSold         2919 non-null   int64
dtypes: float64(11), int64(26)
memory usage: 866.6 KB

In [123]:
X['MasVnrArea']=X['MasVnrArea'].fillna(X['MasVnrArea'].mean())

In [117]:
model = LinearRegression()

In [118]:
model.fit(X,y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').